@media (min-width: 50rem) {
    body:not(.contact-page) .container {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  
    body:not(.contact-page) .header {
      grid-column: 1 / 2;
    }
  
    body:not(.contact-page) .grid-article1 {
      grid-column: 1 / 2;
    }
  
    body:not(.contact-page) .grid-article2 {
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
    }
  
    body.contact-page .container {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    body.contact-page .grid-article1,
    body.contact-page .grid-article2 {

        align-self: stretch;
    }

    body.contact-page .grid-header {
        grid-column: 1 / 3;
    }

}
  
